<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <p-sidebar [(visible)]="visibleSidebar1" position="left" [baseZIndex]="10000">
    <h1 style="font-weight:normal">WELCOME </h1>
    <li routerLinkActive="active"><a  routerLink="/userdisplay" (click)="visibleSidebar1 = false">EMPLOYEDETAILS</a></li><br>
    <li routerLinkActive="active"><a  routerLink="/signup" (click)="visibleSidebar1 = false">ADD EMPLOYE</a></li><br>
</p-sidebar>
<button pButton type="button" (click)="visibleSidebar1 = true" label="Cancel" class="btn btn-primary">CLICK ME PLEACE</button>
 -->
 <button pButton type="button" (click)="visibleSidebar1 = true" label="Cancel" class="btn btn-primary">CLICK ME PLEACE</button>
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <!------ Include the above in your HEAD tag ---------->

   <div class="wrapper">
     <div class="sidebar-hotel">
     <div class="side-in">
     <figure class="logo">
        <img src="https://media2.giphy.com/media/fV2Q3D3snk49O/200.webp?cid=790b7611589babc777b7d09d90ed125a305ec019dbcd8860&rid=200.webp" alt="image view" class="img-responsive">
     </figure>
     <div class="side-menu">
       <ul>
        <!-- <p-sidebar [(visible)]="visibleSidebar1" position="left" [baseZIndex]="10000"> -->
          <!-- <h1 style="font-weight:normal">WELCOME </h1> -->
          <!-- <li  routerLinkActive="active"><a routerLink='' >welcome</a></li> -->
          <li routerLinkActive="active"><a routerLink='/userdisplay'>EMPLOYE DETAILS</a></li><br>
          <li routerLinkActive="active"><a routerLink='/signup' >ADD EMPLOYE</a></li><br>
      <!-- </p-sidebar> -->
      <!-- <button pButton type="button" (click)="visibleSidebar1 = true" label="Cancel" class="btn btn-primary">CLICK ME PLEACE</button> -->
 -->
       </ul>
     </div>
     <div class="social-icon">
                       <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                         <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                         <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                         <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                         <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
     </div>
     </div>
     </div>
     <div class="content-hotel">
       <div class="post-list">
         <div class="left-right">
         <div class="left">
           <a href="#"><img src="https://www.virtuos.com/img/employee-img.jpg" alt="Logo"/></a>
         </div>
         <div class="right">
           <H3>EMPLOYE</H3>
 <H4>A GREAT EMPLOYEE IS LIKE A FOUE LEAF CLOVER HARD TO FIND & LUCKY TO HAVE</H4>
 <P><img src="https://i.123g.us/c/gen_hvgtday/card/324797.gif"></P>
         </div>
         </div>
     </div>
     <!-- <div class="width">
       <app-userdisplay *ngIf="add"></app-userdisplay>
     </div>
     <div class="width">
      <app-signup *ngIf="!add"></app-signup>
    </div> -->
   </div>
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
